html{
    font-family: inter;
    color: #383635;
    background-color: #D0F4DE;
}

.navbar{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    font-weight: 700;
    margin-right: 2rem;
    font-size: 1.3rem;
}

.navbar li{
    margin-right: 3rem;
}

.navbar a{
    text-decoration: none;
    color: inherit;
}
.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: clip;
    margin: 0 auto;
    width: 70%;
    
}

#mainHeading{
    font-size: clamp(2.5rem,3.15vw + 0.9rem,10rem);
    text-align: center;

}
.rubbyDuck{
    display:flex ;
    height: 7rem;
    width: 7rem;
    animation: duck-move 8000ms ease-in-out;
    transform: translate(50rem);
    position: relative;

   

}

@keyframes duck-move{
    0% {
        transform: translateX(-50rem);

    
       
    }
   
    
    100% {
        transform: translateX(50rem);
    }
}

.fullStack{
    color: 	#6A994E;
}

.dividerOne{
    height: 0.5rem;
    width: 100%;
    border-radius: 10px;

    background-color:#383635 ;
}

.aboutMe{
   font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto auto;


}


.aboutMe p{
    margin-top: 0px;
    margin-left: 20%;
    margin-right: 20%;

}