html{
    font-family: "lato";
    color: #383635;
    background-color:  #ffffff;
    scroll-behavior: smooth;
}

.main-nav{
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 1;
    z-index: 3;
    
    grid-template-rows: 60px;
    
}

.navbar{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    font-weight: 600;
    margin-right: 1rem;
    font-size: 0.9rem;
    background-color: #ffffff;
    grid-row-start: 1;
    grid-row-end:2 ;
   
    align-self: center;
    
    
}

.logoGroup,.logoGroupTwo{
    
    margin-left: 10px;
    
    display: grid;
    grid-template-columns: 50px;
    grid-template-rows: 100%;
    cursor: pointer;
    width:50px

}

.logoGroupTwo{
    height:60px;
}
#heading{
    position: absolute;
    top: 0%;
}
.anchorLogotwo,.anchorLogo{
    grid-row-start: 1;
    grid-row-end:2 ;
    align-self: center
}

.logoGroup img, .logoGroup h3, .logoGroupTwo img, .logoGroupTwo h3{ 
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;
    align-self: center;
}

.logoGroup h3 , .logoGroupTwo h3{
  z-index: 2;
  font-size: 1.8rem;
}
.logoActive{
    z-index: 1;
    opacity: 0;
    transition: all 0.3s ease;
}

.logoActiveTwo{
    z-index: 1;
    opacity: 0;
    transition: all 0.3s ease;
}



.navbar li{
    display: flex;
    justify-content: center;
    margin-right: 3rem;
    cursor: pointer;
    text-underline-offset: 10px;
    text-decoration: none;
}
.navbar li::after{
    content:"";
    background-color: #6A994E;
    position: absolute;
    width: 90px;
    height: 3px;
    border-radius: 9px;
    z-index: 1;
    right: 200;
    margin-top: 1.5rem;
    transition: transform 800ms ease;
    transform: scaleX(0);



}
.navbar li:hover:after{
   
    transform: scaleX(1);

}

header{
    width: 100%;
}
.navbar a{
    text-decoration: none;
    color: inherit;
}
.hum{
    display: flex;
    position: fixed;
    z-index: 3;
   
}

.humburger-Menu{
    position: relative;
    display: flex;
    height: 40px;
    width: 40px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;  

    
}
.anchorLogo{

}
.anchorLogotwo{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    position: fixed;
    top: 0%;
    height: 60px;
  
}

.humburger-Menu span{
    background-color:#383635;
    position: absolute;
    height: 6px;
    width: 100%;
    border-radius: 20px;
    top: 50%;
    left: 0%;
    transform: translate(-50%,-50%);
    transition: 300ms ease;
    z-index: 2;

}

.humburger-Menu span:nth-child(1){
    top:25%
}

.humburger-Menu span:nth-child(3){
    top:75%
}

.humburger-Menu.active span:nth-child(1){
    top: 50%;
    transform:translate(-50%, -50%) rotate(45deg) ;
}

.humburger-Menu.active span:nth-child(2){
    opacity: 0;
}

.humburger-Menu.active span:nth-child(3){
    top: 50%;
    transform:translate(-50%, -50%) rotate(-45deg) ;
}

.hiddenMenu{
    display: grid;
    grid-template-rows: 13% 13% 13% 13% 13%;
    flex-direction: column;
    position: fixed;
    top: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    list-style: none;
    
    right: 100%;
    height: 100vh;
    width: 100%;
    font-size: 1.5rem;
    z-index: 2;
    background-color: #ffffff;
    
}
.hiddenMenu li{
    cursor: pointer;
    margin-top: max(10vh,75px);
    -webkit-tap-highlight-color: transparent;
    transition: transform 300ms ease;

}

.hiddenMenu li:active{
    transform: scale(0.95);
}

.hiddenMenu.active{
       right: -80%;
       animation: --hiddenMenu-animation 900ms ease-in-out both;
}


    
.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: clip;
    margin: 15rem auto 15rem auto;
    padding-bottom:5% ;
    width: 70%;
    position: relative;
    overflow: hidden;
    
}

.mainHeading{
    font-size: clamp(2.5em,3.15vw + 0.2rem,10rem);
    font-weight: 600;
    margin: 0;
    animation: --heading-animation 950ms ease-out;
    animation-fill-mode: forwards; 
    position: relative;
    animation-delay: 0.1s;
    opacity: 0;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;
    align-self: center;
    
}

.mainHeadingFullName{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 50% 25%;
    justify-content: center;
    align-items: center;
   flex-direction: column;
}
.button{
    z-index: 1;
    
}

.fullname{
    font-size:clamp(4rem,3.15vw + 3rem,10rem) ;
    color: 	#6A994E;
    margin: 0;
    animation: --fullname-animation 950ms ease-out ;
    animation-fill-mode: forwards; 
    position: relative;
    animation-delay: 0.3s;
    opacity: 0;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
    align-self: center;
}

.fullStackDev{
    margin: 0;
    font-size: clamp(2.5rem,3.15vw + 0.2rem,10rem);
    font-weight: 600;
    animation: --fullStackDev-animation 950ms ease-out ;
    animation-fill-mode: forwards;
    position: relative;
    animation-delay: 0.6s;
    opacity: 0;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: center;
    align-self: center;
}
a{
    color: inherit;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.portfolioButton{
    border: solid 4px #383635;
    width: max(10rem,12%);
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    font-size:1.3rem ;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    
    scroll-behavior: smooth;
    margin-top: 30%; 
    animation: --portfolioButton-animation 950ms ease-out;
    animation-fill-mode: forwards; 
    position: relative;
    animation-delay: 0.9s;
    opacity: 0;
    transition: background-color 300ms, scale 100ms;
    
}


.thankYou{
    font-size: 1.4rem;
    display: none;
}

.portfolioButton:hover{
    
    background-color: #6A994E;
}

.portfolio{
    position: relative;
    display: grid;
    grid-template-rows: 8.5rem auto;
    grid-template-areas:"portfolio"
                        "project" ;
    
    justify-content: center;
    align-content: center;
    font-size: 2rem;
    overflow: hidden;
    padding-bottom: 2rem;
    margin-bottom: 0;
    
    
}



.portfolioHeading{
    transform:translateY(40px);
    grid-area: portfolio;
    justify-self: center;
    align-self: center;
    font-size: clamp(1.5rem,3.15vw + 0.5rem,6rem) ;
    margin-top:5%;
    

}
.projects{
    grid-area: project;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%; 
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.editdooTitle,.jammmingTitle{
    margin-bottom: 2%;
    font-size: clamp(1rem,2.15vw + 0.1rem,4rem);
    transform:translateY(40px);
    

}

.portfolioButtonRight:active,.portfolioButtonLeft:active,.jammmingPortfolioButtonLeft:active,.jammmingPortfolioButtonRight:active{
    transform: scale(0.90);
   
}

.portfolioButtonLeft,.jammmingPortfolioButtonLeft{
    height: 35px;
    margin-right:2% ;
    cursor: pointer;
    transition: transform 300ms ease;
    -webkit-tap-highlight-color: transparent;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: start;
    
    
}


.portfolioButtonRight,.jammmingPortfolioButtonRight{
    
    height: 35px;
    margin-left:2% ;
    cursor: pointer;
    transition: transform 300ms ease;
    -webkit-tap-highlight-color: transparent;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: end;
    
}
.editdooImage,.jammmingImage{
    width: 100%;
    margin-top: 0;
    border-radius:20px;
    height: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: center;
    align-self: center;
}

.editdooWorkSec,.jammmingImageTwo{
    width: 100%;
    margin-top: 0;
    border-radius:20px;
    display: none;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: center;
    align-self: center;
}

.editdooFaqSec,.jammmingImageThree{
    width: 100%;
    margin-top: 0;
    border-radius:20px;
    display: none;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: center;
    align-self: center;
}




.editdooDescription,.jammmingDescription{
    margin: 0;
    font-size: 1.5rem;
    
}

.sliderbuttons,.jammmingsliderbuttons{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    height: 40px;
    width: 70px;
    position: relative;
}



.sliderbuttons span,.jammmingsliderbuttons span{
    border: solid 2px #383635;
    height: 12px;
    width: 12px;
    position: absolute;
    border-radius: 30px;
    transition:background-color 400ms ;
}


.sliderbuttons span:hover,.jammmingsliderbuttons span:hover{
    background-color: #6A994E!important;
    cursor: pointer;
}

.sliderbuttons span:nth-child(1),.jammmingsliderbuttons span:nth-child(1){
    align-self: baseline;
    background-color: #6A994E;
    cursor: pointer;



}
.sliderbuttons span:nth-child(1),.jammmingsliderbuttons span:nth-child(1){
    align-self: baseline;
    background-color: #6A994E;
}

.sliderbuttons span:nth-child(2),.jammmingsliderbuttons span:nth-child(2){
    align-self: center;
}

.sliderbuttons span:nth-child(3),.jammmingsliderbuttons span:nth-child(3){
    align-self: end;
}

.editdooDescription,.jammmingDescription{
    font-size: clamp(1rem,1vw + 0.1rem,4rem) ;
    line-height: 140%;
    margin-top: 0;
    transform:translateY(40px);
    display: grid;
    grid-template-columns: 100%;
    max-width: 1920px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
   
}
.buttons,.jammmingbuttons{
    display: flex;
    flex-direction: row;
    justify-self: start;
}

.viewCode,.jammmingViewCode{
    margin-left: 30px;
    
}

.viewCode,.tryDemo,.jammmingTryDemo,.jammmingViewCode{
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    width: 20%;
    min-width: 110px;
    font-weight: 600;
    font-size:0.8rem ;
    border: solid 2px #383635;
    cursor: pointer;
}

.viewResume,.downloadResume{
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    width: 20%;
    min-width: 150px;
    font-weight: 600;
    font-size:0.6rem;
    border: solid 2px #383635;
    cursor: pointer;
}

.viewResume::after{
    content: "";
    display: inline-block;
    min-width: 20px;
    min-height: 20px;
    background: url("./Resources/viewdOC.svg") no-repeat;
    background-size: contain;
    margin-left: 5px;
}

.resumeSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.downloadResume::after{
    content: "";
    display: inline-block;
    min-width: 30px;
    min-height: 30px;
    background: url("./Resources/download icon.svg") no-repeat;
    background-size: contain;
    margin-left: 5px;
}
.viewCode::after,.jammmingViewCode::after{
    content: "";
    display: inline-block;
    min-width: 20px;
    min-height: 20px;
    background: url("./Resources/github-seeklogo.svg") no-repeat;
    background-size: contain;
    margin-left: 8px;
}

.tryDemo::after,.jammmingTryDemo::after{
    content: "";
    display: inline-block;
    min-width: 17px;
    min-height: 17px;
    background: url("./Resources/externallink2.svg") no-repeat;
    background-size: contain;
    margin-left: 8px;
    margin-bottom: auto;
    margin-top: auto;
}

.shape{
    height: 100px;
    width: 100px;
    background-color: #6A994E;
    position: absolute;
}

.editdoo-heading{
    font-size: 2.5rem;
    margin: 0;
}

.aboutMeDescription{
    transform:translateY(40px);

    display: grid;
    grid-column-gap: 30px;
    margin:auto ;
}

.manProfilePic{
    width:300px;
    height: 100%;
    margin-right: 50px;
    margin-top: auto;
    margin-bottom: auto;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 1;
    transition: 500ms opacity ease;
}

.manProfilePicTwo{
    width:300px;
    height: 100%;
    margin-right: 50px;
    margin-top: auto;
    margin-bottom: auto;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.aboutMe{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: auto;
    padding: 0;
    width: 50%; 
    max-width: 2200px;
}
.aboutMe h2{
    margin-bottom: 2rem;
    font-size: clamp(1.5rem,3.15vw + 0.5rem,5rem) ;

    transform:translateY(40px);
  

}


.aboutMe p{
    font-size: clamp(1rem,1vw + 0.1rem,3rem) ;
    line-height: 140%;
    

}
.technolgyHeading{
    font-size: 1.3rem;
}
.technology{
    height: 200px;
    width: 400px;
}
.technologiesUsed{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 50px;
}

.technologyOne{
    margin-top: 0px;
    display: grid;
    grid-template-rows: 16% 42% 42%;
    grid-template-columns:25% 25% 25% 25%;
    height: 100%;

}

.technology{
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 5;
    height: 100%;
}

.Front-End{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  color: white;
  z-index: 2;
  justify-self: center;
  align-self: center;
}

.javascript,.chai{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 60px;
    justify-self: center;
    align-self: center;
    position: relative;
}

.javascriptPic{
    height: 60px;
}

.css,.jest{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 60px;
    justify-self: center;
    align-self: center;
    position: relative;

}



.react,.mocha{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 60px;
    justify-self: center;
    align-self: center;
    position: relative;
}

.redux,.git{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 60px;
    justify-self: center;
    align-self: center;
    position: relative;
}
.popUpDiv{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    opacity: 0;
}
.popUp{
    height: 50px;
    width: 100px;
    position: absolute;
    left:-20%;
   
}
.javascriptText{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 1;
    justify-self: center;
    align-self: center;
}

.popUp{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.cssParagragh{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 1;
    justify-self: center;
    align-self: center;
   
}
.popUpTwo{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 50px;
    

}
.popUpDivTwo{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%; 
    position: absolute;
    left:-50%;
    z-index: 1;
    opacity: 0;
}
.cssLogo{
    height: 60px;
}
.html{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: center;
    align-self: center;
    position: relative;

}

.htmlLogo{
    height: 60px;

}

.popUpThree{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 50px;
    
}

.popUpDivThree{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%; 
    position: absolute;
    left:-30%;
    opacity: 0;
    
}

.htmlParagragh{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 1;
    justify-self: center;
    align-self: center;
   
}

.reactLogo{
    height: 60px;
}

.popUpDivFour{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%; 
    position: absolute;
    left:-30%;
    opacity: 0;

}

.reactParagragh{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 1;
    justify-self: center;
    align-self: center;
}

.popUpFour{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 50px;
    
}

.reduxLogo{
    height: 60px;
}

.popUpDivFive{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%; 
    position: absolute;
    left:-30%;
    opacity: 0;

}

.reduxParagraph{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 1;
    justify-self: center;
    align-self: center;
}

.popUpFive{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 50px;
}

.chaiLogo{
    height: 60px;
}

.popUpDivSix{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%; 
    position: absolute;
    left:-30%;
    opacity: 0;

}

.chaiParagraph{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 1;
    justify-self: center;
    align-self: center;
}

.popUpSix{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 50px;
}

.jestLogo{
    height: 60px;
}


.popUpDivSeven{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%; 
    position: absolute;
    left:-30%;
    opacity: 0;

}

.jestParagraph{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 1;
    justify-self: center;
    align-self: center;
}

.popUpSeven{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 50px;
}

.mochaLogo{
    height: 60px;
}


.popUpDivEight{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%; 
    position: absolute;
    left:-30%;
    opacity: 0;

}

.mochaParagraph{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 1;
    justify-self: center;
    align-self: center;
}

.popUpEight{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 50px;
}

.gitLogo{
    height: 60px;
}


.popUpDivNine{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%; 
    position: absolute;
    left:-30%;
    opacity: 0;

}

.gitParagraph{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 1;
    justify-self: center;
    align-self: center;
}

.popUpNine{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 50px;
}

.buttonsTwo{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 10px;
}
.resumeSection{
    margin-top: 0px;
}

.resumeTitle{
    font-size: clamp(1.5rem,3.15vw + 0.5rem,5rem) ;
}

.contactSection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contactForm{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 20% 40% 20%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height:500px;
    max-width: 400px;
}

.name{
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.underlineBlack{
    background-color: #383635;
    height: 2px;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}
.email{
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.message{
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

#name{
   border: none;
   text-align: center;
   width: 100%;
   font-size: 1.1rem;
    font-family: "lato";
   color: #383635;
}
#name:focus{
    border: none;
    outline: none;
    
 }
 #name::placeholder{
    font-size: 1.1rem;
    font-family: "lato";

 }
#email{
    border: none;
    text-align: center;
    width: 100%;
    font-size: 1.1rem;
    font-family: "lato";
    color: #383635;

}

#email:focus{
    border: none;
    outline: none;
 }
 #email::placeholder{
    font-size: 1.1rem;
    font-family: "lato";
 }

#message{
    border: none;
    text-align: center;
    width: 100%;
    font-size: 1.1rem;
    font-family: "lato";
    color: #383635;

}

#message:focus{
    border: none;
    outline: none;
 }
 #message::placeholder{
    font-size: 1.1rem;
    font-family: "lato";
 }
#submit{
    background-color: transparent;
    border: solid 2px;
    color: #383635;
    width: 150px;
    height: 40px;
    border-radius: 30px;
    font-family: "lato";
    color: #383635;
    cursor: pointer;
    justify-self: center;
    align-self: start;
    font-size: 1rem;
}

.footer{
    display: flex;
    justify-content: center;
    
}
.footerLogos{
    display: flex;
    
}

.messageLogo{
    height: 25px;
    width: 30px;
    margin-right: 40px;
    cursor: pointer;
    transition: scale 400ms ease;
}


.linkedinLogo{
    height: 25px;
    width: 40px;
    cursor: pointer;
    transition: scale 400ms ease;

}

.githubLogo{
    height: 25px;
    width: 30px;
    margin-left: 40px;
    cursor: pointer;
    transition: scale 400ms ease;


}


.messageLogo:hover{
   scale: 1.1;
}


.linkedinLogo:hover{
  scale: 1.1;

}

.githubLogo:hover{
scale: 1.1;


}

.logoDeactive{
    width: 50px;
}

@keyframes --hiddenMenu-animation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}

@keyframes --heading-animation {
    0%{
        opacity: 0;
        transform: translateY(70px);
    
    }
    100%{
        opacity: 1;
    }
}

@keyframes --fullname-animation{
    0%{
        opacity: 0;
        transform: translateY(70px);
    
    }
    100%{
        opacity: 1;
    }
} 

@keyframes --fullStackDev-animation  {
    0%{
        opacity: 0;
        transform: translateY(70px);
    
    }
    100%{
        opacity: 1;
    }
    
}

@keyframes --portfolioButton-animation {
    0%{
        opacity: 0;
        transform: translateY(50px);
    
    }
    100%{
        opacity: 1;
    }
    
}

@media(min-width: 3000px){
    .portfolioButton{
        width: max(15rem,12%);
        height: 5rem;
        font-size:1.8rem ;
        border-radius: 60px;
    }

    .viewCode, .tryDemo, .jammmingTryDemo, .jammmingViewCode{
        height: 3.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        width: 30%;
        min-width: 210px;
        font-weight: 600;
        font-size: 1.3rem;
        border: solid 2px #383635;
        cursor: pointer;
    }

    .viewCode::after,.jammmingViewCode::after{
        content: "";
        display: inline-block;
        min-width: 30px;
        min-height: 30px;
        background: url("./Resources/github-seeklogo.svg") no-repeat;
        background-size: contain;
        margin-left: 8px;
    }
    
    .tryDemo::after,.jammmingTryDemo::after{
        content: "";
        display: inline-block;
        min-width: 27px;
        min-height: 27px;
        background: url("./Resources/externallink2.svg") no-repeat;
        background-size: contain;
        margin-left: 8px;
        margin-bottom: auto;
        margin-top: auto;
    }

    .viewResume,.downloadResume{
        height: 3.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        width: 250px;
        min-width: 150px;
        font-weight: 600;
        font-size:1.2rem;
        border: solid 2px #383635;
        cursor: pointer;
    }
    
    .viewResume::after{
        content: "";
        display: inline-block;
        min-width: 20px;
        min-height: 20px;
        background: url("./Resources/viewdOC.svg") no-repeat;
        background-size: contain;
        margin-left: 5px;
    }
    
    
    .downloadResume::after{
        content: "";
        display: inline-block;
        min-width: 30px;
        min-height: 30px;
        background: url("./Resources/download icon.svg") no-repeat;
        background-size: contain;
        margin-left: 5px;
    }
}

@media(min-width:1620px){
    .buttonAndImage,.jammmingbuttonAndImage{
        position: relative;
        display:grid;
        grid-template-columns: 50px 90% 50px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform:translateY(40px);
        width:130%
        
       
        
    }
    .humburger-Menu{
        display: none;
    }

    .hiddenMenu{
        display: none;
    }

    .groupOfTechs{
        margin-top: 0px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        grid-column-gap: 10px;
    }
    .anchorLogotwo{
        display: none;
    }

    .main-nav{
        display: grid;
        
    }

    .manProfilePic,.manProfilePicTwo{
        width: 300px;
        height: 280px;

    }
    .aboutMe{
        width: 50%;
        max-width: 1500px;
       
    }
}

@media(max-width:1619px){
    .anchorLogo{
        display: none;
    }
}

@media(min-width:830px) and (max-width:1619px){

    .groupOfTechs{
        margin-top: 0px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        grid-column-gap: 10px;
    }
    .buttonAndImage,.jammmingbuttonAndImage{
        position: relative;
        display:grid;
        grid-template-columns: 50px 90% 50px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform:translateY(40px);
        width:160%
        
       
        
    }

    .editdooDescription,.jammmingDescription{
        font-size: 1.5rem ;
        line-height: 140%;
        margin-top: 0;
        transform:translateY(40px);
        display: grid;
        grid-template-columns: 100%;
        max-width: 1920px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
       
    }

    .aboutMe p{
        font-size: 1.4rem;
        justify-self: center;
        align-self: center;
    }

    .aboutMe{
        width: 60%;
       
    }

    .manProfilePic,.manProfilePicTwo{
        width: 300px;
        height: 280px;

    }
}

@media(min-width:450px) and (max-width:829px){
    .buttonAndImage,.jammmingbuttonAndImage{
        position: relative;
        display:grid;
        grid-template-columns: 50px 90% 50px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform:translateY(40px);
        max-width: 800px;
        width:190%
        
       
        
    }
    .portfolioButtonLeft,.jammmingPortfolioButtonLeft{
    
        justify-self: center;
        
        
    }
    
    
    .portfolioButtonRight,.jammmingPortfolioButtonRight{
        
        justify-self: center;
        
    }
   .technologyOne{
    margin-top: 40px;
   }

   .contactForm{
    width: 50%;
    }


    .editdooDescription,.jammmingDescription{
        font-size: 1.2rem ;
        line-height: 140%;
        margin-top: 0;
        transform:translateY(40px);
        display: grid;
        grid-template-columns: 100%;
        max-width: 1920px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    
    }
    .aboutMe{
        width: 70%;
    }

    .aboutMe p{
        font-size: 1.2rem;
    }
}

@media(min-width:320px) and (max-width:449px){
    .buttonAndImage,.jammmingbuttonAndImage{
        position: relative;
        display:grid;
        grid-template-columns: 30px 90% 30px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform:translateY(40px);
        width:220%
        
       
        
    }
    
    .technologyOne{
        width: 315px;
        height: 100%;
        margin-top: 30px;
    }
    .technology{
        width: 100%;
        height: 100%;
    }
    .Front-End{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
        color: white;
        z-index: 2;
        justify-self: center;
        align-self: start;
        margin-top: 3px;
      }
      .manProfilePic{
        width: 200px;
        height: 200px;
      }
      .aboutMeDescription{
        transform:translateY(0px);
    
        display: grid;
        
        grid-column-gap: 30px;
        margin:0 ;
    }
    .cssLogo{}

    
   .contactForm{
        width: 60%;
    }

    .viewCode,.tryDemo,.jammmingTryDemo,.jammmingViewCode{
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        width: 10%;
        min-width: 90px;
        font-weight: 600;
        font-size:0.6rem ;
        border: solid 2px #383635;
        cursor: pointer;
    }

    .portfolioButtonLeft,.jammmingPortfolioButtonLeft{
    
        justify-self: center;
        
        
    }
    
    
    .portfolioButtonRight,.jammmingPortfolioButtonRight{
        
        justify-self: center;
        
    }

    .editdooDescription,.jammmingDescription{
        font-size: 1rem ;
        line-height: 140%;
        margin-top: 0;
        transform:translateY(40px);
        display: grid;
        grid-template-columns: 100%;
        max-width: 1920px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
       
    }

    .editdooDescription,.jammmingDescription{
        font-size: 1rem ;
        line-height: 140%;
        margin-top: 0;
        transform:translateY(40px);
        display: grid;
        grid-template-columns: 100%;
        max-width: 1920px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    
    }

   
    

 }
@media(max-width:1619px){
    .navBarBackground{
        background-color: white;
        width: 100%;
        height: 60px;
        z-index: 3;
        position: fixed;
        top: 0;
        left: 0%;
    }
    .humburger-Menu{
        
    }
    .navbar{
        display: none;
    }
    .editdooImage,.editdooFaqSec,.editdooWorkSec,.jammmingImage,.jammmingImageTwo,.jammmingImageThree{
        width: 100%;
        border-radius: 20px;
    }

    .editdooDescription,.jammmingDescription{
        
        align-content: center;
        justify-items: center;
       flex-direction: column;
       
       
      
    }

    .portfolio{
        grid-template-rows: 4.5rem auto;
    }
    .portfolioHeading{
        margin: 0; 
        font-size: xxx-large;
    }

    .editdooTitle,.jammmingTitle{
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .aboutMe{
        
    }
    .aboutMe h2{
        font-size: xxx-large;
    }

    .resumeTitle{
        font-size: xxx-large;

    }
    
    
}

@media (min-width: 1180px){
    .aboutMeDescription{
        grid-template-columns: auto auto;
       
    }

    .manProfilePic{
        grid-column-start: 1;
        grid-column-end:2 ;
    }

    .aboutMe p{
        grid-column-start: 2;
        grid-column-end:3 ;
        
    }
    
    .anchorLogotwo{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        position: fixed;
        top: 0%;
        left: 0%;
        height: 60px;
    }
    
    .hum{
        margin-left: 95%;
        
    }
    .humburger-Menu{
        bottom: 235px;
        
    }
    .aboutMe{
        font-size: 0.8rem;
    }

    .logoGroup{
        height: 60PX;
    }

    .aboutMePara{
       
    }
    .aboutMeDescription{
        max-width: 1900px;
    }
}
@media (max-width: 1179px){
    .aboutMe p {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: center;
        align-self: center;
        margin-left: 0px;
        width: 100%;
    }
    .manProfilePic{
        width:300px;
        height: 100%;
        margin-right: 0px;
        margin-top: auto;
        margin-bottom: auto;
        justify-self:center ;
        
    }

    .manProfilePicTwo{
        width:300px;
        height: 100%;
        margin-right: 0px;
        margin-top: auto;
        margin-bottom: auto;
        justify-self:center ;
    }
    
    .aboutMe h2{
        
        font-size: clamp(1.5rem,3.15vw + 0.9rem,10rem) ;
    

    
    
    }

    .resumeTitle{
        font-size: clamp(1.5rem,3.15vw + 0.9rem,10rem) ;

    }

    .aboutMeDescription{
        row-gap: 20px;
    }

    .anchorLogotwo{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        position: fixed;
        top: 0%;
        left: 0%;
        height: 60px;
    }
    
    .hum{
        margin-left: 90%;
        
    }
    .humburger-Menu{
        bottom: 235px;
    }
    
    .logoGroup{
        height: 60PX;
    }

    

  

    
  

   
}
@media (max-width: 680px){
    .portfolioButtonRight,.portfolioButtonLeft,.jammmingPortfolioButtonLeft,.jammmingPortfolioButtonRight{
        height: 23px;
    }
    .heading{
        margin-right: auto;
        margin-left: auto;
        margin-top: 14rem;
        margin-bottom: 4rem;
        padding-bottom: 2rem;
        width: 100%;

    }
    .mainHeading{
        font-size: x-large;
    }

    .fullname{
        font-size: 2.95rem;
        
    }

    .fullStackDev{
        font-size: x-large;
    }

    .portfolio{
      margin: 0;
      grid-template-rows: 3.5rem auto;
    }
    .portfolioHeading{
       margin: 0; 
       font-size: xx-large;
    }
    .portfolioButton{
        width: max(5rem,12%);
        height: 2rem;
        font-size: 0.7rem;
        border: solid 2px #383635;
    }
    .editdooTitle,.jammmingTitle{
        font-size: x-large;
        margin-bottom: 1rem;
    }

    .aboutMe h2{
        font-size: xx-large;
        margin-bottom: 1rem;
        
    }

    .resumeTitle{
        font-size: xx-large;

    }
    
    .editdooImage,.editdooFaqSec,.editdooWorkSec,.jammmingImage,.jammmingImageTwo,.jammmingImageThree{
        border-radius: 15px;
        
    }
   
    .hiddenMenu.active{
        right: -55%;
    }
    .anchorLogotwo{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        position: fixed;
        top: 0%;
        left: 0%;
        height: 60px;
    }
    
    .hum{
        margin-left: 90%;
        
    }
    .humburger-Menu{
        bottom: 220px;
    }
   
    .logoGroup{
        height: 60PX;
    }

}